.container {
  float: left;
  width: 200px;
  height: 150px;
  display: flex;          /* 플렉스 컨테이너 지정 */
  flex-flow: row wrap;   /* 왼쪽에서 오른쪽, 여러 줄 표시 */
  border: 1px solid #222;
  background-color: #eee;
  margin: 30px;
}
#opt1 {
  align-content: flex-start; /* 교차축 시작점 기준 */
}
#opt2 {
  align-content: flex-end;   /* 교차축 끝점 기준 */
}
#opt3 {
  align-content: center;     /* 교차축 중앙 기준 */
}
#opt4 {
  align-content: space-between; /* 시작점과 끝점 배치 후 중간 항목은 같은 간격으로 배치 */
}
#opt5 {
  align-content: space-around; /* 전체 항목을 같은 간격으로 배치 */
}
#opt6 {
  align-content: stretch;      /* 항목을 늘려 교차축에 가득 차게 배치 */
}
.box {
  width: 30px;
  height: 30px; /* 박스 높이 추가 */
  background-color: #222;   
  border: 1px dotted #e9e9e9;   
  background-size: cover; /* 이미지가 박스에 맞게 커버 */
}
p {
  color: #fff;
  text-align: center;
  margin: 0; /* 패딩 제거 */
}
#box1 {
  background-image: url('김현지프로.jpg');

}

#box2 {
  background-image: url('위혜림프로.jpg');
 
}

#box3 {
  background-image: url('박흥수프로.jpg');
  
}

#box4 {
  background-image: url('박기수프로.jpg');

}

#box5 {
  background-image: url('로리맥길로이.jpg');
  
}

#box6 {
  background-image: url('타이거우즈.jpg');
 
}

#box7 {
  background-image: url('스코티세플러.jpg');
 
}

#box8 {
  background-image: url('김주형.jpg');
  
}