body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li a.active {
    color: yellow;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.login a {
    color: white;
    text-decoration: none;
    background-color: #4b739e;
    padding: 10px 15px;
    border-radius: 5px;
}

section {
    padding: 40px;
    margin: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

section h2 {
    color: #007BFF;
}

section a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
